<h2>{{ tittle }}</h2>

<div class="form-group">
  <div class="col-md-6" >
    <input type="text" [(ngModel)]="searchText" 
           class="form-control" placeholder="Search By Category" />
  </div>
</div>
<i class="fa" 
[ngClass]="{'fa-sort': column != 'title', 
                    'fa-sort-asc': (column == 'title' && !isDesc), 
                    'fa-sort-desc': (column == 'title' && isDesc) }"
aria-hidden="true"> </i>

<div class="col-md-12">
  <table class="table table-responsive table-hover">
    <tr>
      <th class="pointer" (click)="sort('title')">Title </th>
      <th class="pointer" (click)="sort('url')" > Url </th>
      <th class="pointer" (click)="sort('platform')" > Platform </th> 
      <th class="pointer" (click)="sort('score')" > Score </th>
      <th class="pointer" (click)="sort('genre')" > Genre </th>  
      <th class="pointer" (click)="sort('editors_choice')" > Editors Choice </th>  
      <th class="pointer" (click)="sort('release_year')" > Release Year </th> 
    </tr>
    <tr *ngFor="let app of appsName | category: searchText">
      <td>{{app.title}}</td>
      <td>{{app.url}}</td>
      <td>{{app.platform}}</td>
      <td>{{app.score}}</td>
      <td>{{app.genre}}</td>
      <td>{{app.editors_choice}}</td>
      <td>{{app.release_year}}</td>
    </tr>
  </table>
</div>